<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>5</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $JOB_NAME - $BUILD_NUMBER
echo Hello Fork, $name!</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <join.JoinTrigger plugin="join@1.16">
      <joinProjects>040_HelloWorldJoin</joinProjects>
      <joinPublishers>
        <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.29">
          <configs>
            <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
              <configs class="empty-list"/>
              <projects>040_HelloWorldJoin</projects>
              <condition>FAILED_OR_BETTER</condition>
              <triggerWithNoParameters>false</triggerWithNoParameters>
            </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          </configs>
        </hudson.plugins.parameterizedtrigger.BuildTrigger>
      </joinPublishers>
      <evenIfDownstreamUnstable>true</evenIfDownstreamUnstable>
    </join.JoinTrigger>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.29">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>031_HelloWorldOK, 032_HelloWorldWithError</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>